<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte de Existencias </title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">
  <table style="border-bottom: 1px solid; border-bottom-color: black;">
    <tbody>
      <tr>
        <td>
          <img src="static/img/logorarras.png" alt="logo" width="150px">
        </td>

        <td style="width: 450px; text-align: center;">
          <table>
            <tbody>
              <tr>
                <td style="text-align: center; font-size: 20px;font-weight: bold; padding-bottom: 70px;">
                  SUPER TIENDAS RARRAS S.A DE C.V</td>
              </tr>
              <tr style="text-align: left;font-size: 14px;font-weight: bold; padding-top:15px">
                <td style="text-align: center; font-size: 14px;font-weight: bold;">REPORTE DE MOVIMIENTOS DE ALMACEN</td>
                
              </tr>
              <tr>
                <td style="text-align: center; font-size: 10px;font-weight: bold;">Periodo {{initdate}} al {{finaldate}}</td>
              </tr>
            </tbody>
          </table>
        </td>

        <td>
          <table >
            <tbody>
              <tr>
                <td colspan="2" style="text-align: center;font-size: 10px;font-weight: bold;">
                  SUPER TIENDAS RARRAS <br><br></td>
              </tr>
         
              <tr style="text-align: left;font-size: 10px;font-weight: bold; border-top: 1px solid  #000;">
                <td style= "padding-top:5px;" >FECHA:</td>
                <td style= "padding-top:5px;">{{datenow | date:"d/m/Y"}}</td>
              </tr>
              <tr style="text-align: left;font-size: 10px;font-weight: bold;">
                <td>HORA:</td>
                <td>{{datenow | time:"H:i:s A"}}</td>
              </tr>
              <tr style="text-align: left;font-size: 10px;font-weight: bold;">
                <td>USUARIO:</td>
                <td>{{user}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table style="border-spacing: 20px 0px;">
    <thead>
      <tr style="font-weight: bold; font-size: 12px; padding-top:5px">
        <td>CLAVE</td>
        <td>SAP</td>
        <td style="text-align: center;border-right: 1px solid; border-right-color: black">PRODUCTO</td>
        <td style="text-align: center;">EXISTENCIAS</td>
      </tr>
       
        <tr colspan = "2"style="font-size: 11px; padding-top: 5px;">
          <td style="text-align: left; font-size: 11px;font-weight: bold;">ALMACEN</td>
          <td style="font-size: 10px">{{werehouses.title}}</td>
          <td style="text-align: left; font-size: 11px;font-weight: bold;">MOVIMIENTO</td>
          <td style="font-size: 10px;  margin-right:20px;">{{tmovement.name}}</td>
        </tr>
        <tr colspan = "2" style="font-size: 11px;">
          <td  style="text-align: left; font-size: 11px;font-weight: bold;">CONCEPTO</td>
          <td style= "font-size: 10px">{{concept.title}}</td>
        </tr>
 
    </thead>
    <tbody>
      {% for movement in movement %}
      <tr style="font-size: 10PX; padding-top: 5px">
        <td>{{movement.product.id}}</td>
        <td>{{movement.product.cvesap}}</td>
        <td style="otext-align: center;border-right: 1px solid; border-right-color: black">{{movement.product.name}}</td>
        <td style="text-align: center;">{{movement.canmov}}</td>
      </tr>
      {% endfor %}
    <tfoot>
      <tr style="font-size: 10px; padding-top:5px;">
        <td colspan="3" style="text-align: right; font-size: 10px;font-weight: bold;">TOTALES POR CATEGORIA</td>
        <td style="text-align: center; font-size: 10px">{{totales.canmov__sum}}</td>
      </tr>
    </tfoot>
  </table>
</body>

</html>