{% extends 'core/base.html' %}
{% load static %}
{% block title %}Editar Lista de Precios{% endblock %}
{% block content %}

<section class="section dashboard">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Editar Lista de Precios</h5>
          <!-- Custom Styled Validation -->
          <form class="row g-3" id="formProductPrice" method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-4">
                <label class="form-label">Nombre</label>
                {{form.name}}

                <label class="form-label">Nombre de los Productos</label>
                <div class="row">
                  <div
                    class="col-md-12 overflow-auto"
                    style="height: 150px"
                    id="warehouseChecket"
                  >
                    {%for products in products %}

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="{{products.id}}-checkbox"
                        value="{{products.id}}"
                        data-product="{{products.name}}"
                        name="products"
                      />
                      <label class="form-check-label">{{products.name}}</label>
                    </div>

                    {%endfor%}
                  </div>
                </div>
              </div>

              <div
                class="col-md-8 overflow-y-auto ps-5 pe-5"
                style="height: 300px"
              >
                <table class="table table-hover text-center">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Precio</th>
                    </tr>
                  </thead>
                  <tbody id="inputsProducts">
                    {% for list in productlistdetails %}
                    <tr id="{{list.product_id}}-product">
                      <th scope="row">{{list.product_id}}</th>
                      <td>{{list.product.name}}</td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          id="{{list.product_id}}-price"
                          name="prices-{{list.product_id}}"
                          value="{{list.predlp}}"
                        />
                      </td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
          </form>
          <!-- End Custom Styled Validation -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}<script src="{% static 'js/addproductslist.js' %}"></script>{% endblock %}