{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="section dashboard">
    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Crear una nueva Categoria de Productos
            </h5>
            <!-- Custom Styled Validation -->
            <form class="row g-3" id="formeditproducts" method="POST">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="nameValidation" class="form-label">Nombre Producto</label>
                {{form.name}} 
              </div>
              <div class="col-md-6">
                <label for="branchValidations" class="form-label">Categoría</label>
                {{form.categories}}
              </div>
              <div class="col-md-6">
                <label for="branchValidations2" class="form-label">Marca</label>
                {{form.brands}}
              </div>
              <div class="col-md-6">
                <label for="cvesap" class="form-label">SKU</label>
                {{form.cvesap}} 
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary" type="submit">Editar</button>
              </div>

            </form><!-- End Custom Styled Validation -->
          </div>
        </div>
        </div>

    </div>
  </section>

  {% endblock %}