{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="section dashboard">
    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Crear una nueva Categoria de Productos
            </h5>
            <!-- Custom Styled Validation -->
            <form class="row g-3" id="formeditproducts" method="POST">
              {% csrf_token %}
            <input type="hidden" id = "idProductEdit" value="{{product_id}}" name="product-id">
            <div class="col-md-10">
              <div class="row">
            <div class="col-md-6">
                <label for="nameValidation" class="form-label">Nombre Producto</label>
                {{form.name}} 
              </div>
              <div class="col-md-6">
                <label for="branchValidations" class="form-label">Categoría</label>
                {{form.categories}}
              </div>
              <div class="col-md-6">
                <label for="branchValidations2" class="form-label">Marca</label>
                {{form.brands}}
              </div>
              <div class="col-md-6">
                <label for="cvesap" class="form-label">SKU</label>
                {{form.cvesap}} 
              </div>
            </div>
            </div>

              <div class="col-md-2">
                <label class="form-label">Seleccione Almacén</label>
                <div class="row overflow-auto p-1" style="height: 100px;" id="warehouseChecket">
    
                {%for werehouses in werehouses %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check-{{werehouses.id}}" value="{{werehouses.id}}" name="warehouse">
                    <label class="form-check-label">
                     {{werehouses.title}}
                    </label>
                  </div>
                {% endfor %}
                  
            </div>
          </div>
              <div class="col-md-10">
                <button class="btn btn-primary" type="submit">Editar</button>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" id="selectAll" type="checkbox">
                <label class="form-check-label">
                  Seleccionar Todo
                </label>
              </div>

            </form><!-- End Custom Styled Validation -->
          </div>
        </div>
        </div>

    </div>
  </section>

  {% endblock %}

  {% block scripts %} <script src="{% static 'js/editproducts.js' %}"></script> {% endblock %} 