{% extends 'core/base.html' %}
{% load static %}
{% block title %}Transferencia de Almacen{% endblock %}
{% block content %}
<section class="section dashboard">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Movimientos de Almacen
                    </h5>

                    <!-- Custom Styled Validation -->
                    <form class="row g-3" id="formTransferWarehouse" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <H4>Almacen de Envio</H4>
                                <div class="row">
                                    <input type="hidden" name="typeMovementSend" id="typeMovementSend">
                                    <div class="col-md-12">
                                        <label class="form-label">Tipo de Movimiento</label>
                                        <select class="form-select" id="werehouseTypeMovementSend"
                                            name="werehouseTypeMovementSend">
                                            <option selected disabled value="">Seleccionar ...</option>
                                            {% for salida in movsalida %}
                                                <option value="{{salida.pk}}">{{salida.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">Concepto de Almacen</label>
                                        <select class="form-select" id="werehouseConceptSend"
                                            name="werehouseConceptSend">
                                            <option selected disabled value="">Seleccionar ...</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label">Almacen</label>
                                        <input type="text" class="form-control" namewerehouseSend id="werehouseSend" disabled value="{{user.profileuser.warehouse}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h4>Almacen de Recepcion</h4>
                                <div class="row">
                                    <input type="hidden" name="typeMovementReception" id="typeMovementReception">
                                    <div class="col-md-12">
                                        <label class="form-label">Tipo de Movimiento</label>
                                        <select class="form-select" id="werehouseTypeMovementReception"
                                            name="werehouseTypeMovementReception">
                                            <option selected disabled value="">Seleccionar ...</option>
                                            {% for entrada in moventrada %}
                                                <option value="{{entrada.pk}}">{{entrada.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">Concepto de Almacen</label>
                                        <select class="form-select" id="werehouseConceptReception"
                                            name="werehouseConceptReception">
                                            <option selected disabled value="">Seleccionar ...</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="form-label">Almacen</label>
                                        <select class="form-select" id="werehouseReception" name="werehouseReception">
                                            <option selected disabled value="">Seleccionar ...</option>
                                            {% for warehouses in warehouses%}
                                                    <option value="{{warehouses.pk}}">{{warehouses.title}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                            </div>

                            <div class="col-md-12 overflow-y-auto ps-5 pe-5" style="height: 300px;">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Clave</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabletransferWerehouse">

                                        {%for product in products%}
                                        <tr id="1-product">
                                            <th scope="row">{{product.product.id}}</th>
                                            <td>{{product.product.name}}</td>
                                            <td>
                                                <input type="number" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57" class="form-control" id="{{product.product.id}}-price" name="{{product.product.id}}-price" value="0">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <label class="form-label">Descripción</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>

                        <div class="col-md-3">
                            <label class="form-label">Totales</label>
                            <input type="text" class="form-control" name="total" id="totaltransferWarehouse" readonly
                                disabled>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>

                    </form>
                    <!-- End Custom Styled Validation -->

                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
{% block scripts %} <script src="{% static 'js/addtransferwerehouse.js' %}"></script> {% endblock %} 
