{% extends 'core/base.html' %}
{% load static %}
{% block title %}Tipo de Movimiento{% endblock %}
{% block content %}
<section class="section dashboard">
    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Crear un nuevo Tipo de Movimiento
            </h5>
            <!-- Custom Styled Validation -->
            <form class="row g-3" id="formAddTypeMovement"  method = "POST">
              {% csrf_token %}
              <div class="col-md-12">
                <label class="form-label">Tipo de Mvimiento</label>
                {{form.name}}
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary">Guardar</button>
              </div>

            </form><!-- End Custom Styled Validation -->
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Listado de Almacenes</h5>

            <!-- Table with hoverable rows -->
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Movimiento</th>
                  <th scope="col">Acciones</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for typemovement in typemovement %}
                <tr>
                  <td scope="row"> {{typemovement.id}}</td>
                  <td>{{typemovement.name}}</td>
                 
                  <td>
                    <a href="{% url 'edittypemovement'  typemovement.id %}"><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#editModal" id="btnModal"><i class="bi bi-pencil-square"></i> Editar</button></a>

                  <a href="{% url 'deletetypemovement'  typemovement.id %}">
                  <button type="button" class="btn btn-danger"><i class="bi bi-x-square"></i> Eliminar</button></a>
                  </td>
                </tr>
                <tr>
                
                {% endfor%}
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->

          </div>
        </div>

      </div>

    </div>
  </section>

  

{% endblock %}