{% extends 'core/base.html' %}
{% load static %}
{% block title %}Tipo de Movimientos{% endblock %}
{% block content %}

<section class="section dashboard">
    <div class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Editar Tipo de Movimeinto
            </h5>
            <!-- Custom Styled Validation -->
            <form class="row g-3" id="formedittypemovement"  method="POST">
              {% csrf_token %}
              <div class="col-md-12">
                <label for="nameValidation" class="form-label">Tipo Movimiento</label>
                  {{form.name}} 
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary">Editar</button>
              </div>

            </form><!-- End Custom Styled Validation -->
          </div>
        </div>
      

      </div>

    </div>
  </section>

  

{% endblock %}