{% extends 'core/base.html' %}
{% load static %}
{% block title %}Conceptos de Almacen{% endblock %}
{% block content %}

<section class="section dashboard">
    <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Editar un Concepto de  Almacén
              </h5>
              <!-- Custom Styled Validation -->
              <form class="row g-3" id="formeditwerehouseconcept"  method="POST">
                {% csrf_token %}
                <div class="col-md-6">
                  <label for="nameValidation" class="form-label">Concepto de Almacén</label>
                  {{form.title}}
                </div>
                <div class="col-md-6">
                  <label for="branchValidations" class="form-label">Tipo de Movimiento</label>
                      {{form.typemovement}}
                </div>
                <div class="col-md-12">
                  <label for="descriptionValidation" class="form-label">Descripción</label>
                    {{form.description}}
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary">Editar</button>
                </div>
  
              </form><!-- End Custom Styled Validation -->
            </div>
          </div>
        
  
        </div>
  
      </div>
  </section>

  

{% endblock %}